
<div class="container text-center">
  <h1>Choix de la maison  </h1>
  <div class="list-houses">
    <div class="row">
      <% @houses.each do |house| %>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1 list-inline">

          <div class="flatcard card-container">

            <h2><%= house.name %></h2>

            <div class="photo">

              <%= image_tag "maison.jpg", height:200; %>
            </div>
            <%= link_to "Réservez-moi !", house_path(house), class: "btn btn-danger btn-block" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
