
<div class="container text-center">
  <h1>Choix de la maison  </h1>
  <div class="list-houses">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <% @houses.each do |house| %>
          <div class="flatcard border border-primary">
            <h2><%= house.name %></h2>
            <%= house.image %>
            <span>
              <%= link_to "Réservez-moi !", house_path(house), class: "btn btn-danger btn-block" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- #TODO ajouter "image" dans la table pr photo differentes grande / petite maison (et chambres)
link dejà créé ds seeds-->
