<div class="container">
  <h1>Welcome Home !</h1>

  <br>
  <br>
  <div class="row">
    <div class="col-xs-6">
       <%= image_tag "maisons.png", height: 400, width:600 %>
    </div>
    <div class="col-xs-3 col-xs-offset-3">
      <%= link_to "Next", houses_path, class: "btn btn-success btn-block"  %>
    </div>
  <!-- <p> date picker </p> -->
  </div>
</div>






