<div class="container">
  <h1>Bienvenue !</h1>
  <p>Petite application pour renseigner les dates de vacances à Neuvic, afin de pouvoir savoir qui est là et quand. </p>
  <div class="row">
    <div class="col-xs-6">
       <%= image_tag "maisons.png", height: 400, width:600 %>
    </div>
    <div class="col-xs-3 col-xs-offset-3">
      <%= link_to "Next", houses_path, class: "btn btn-success btn-block"  %>
    </div>
  <!-- <p> date picker </p> -->

  </div>
</div>






